<!-- this is the base files. All html files which will be extended with base.html will inherent from this file.
This file has been created to have code which is need on several html pages at one place. -->

{%  load staticfiles %}
<html>
<head>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu" crossorigin="anonymous">  <meta name="description" content="">
  <meta name="author" content="">

  <title>Architectural Inspiration</title>


 <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>My Site</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Architectural Inspiration</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
            <div class="welcome" style="text-align: center">
                 <h1 style="margin-top: 5px">Welcome to our photogallery for Architects</h1>
                    <p>On this site you can find pictures of different architectural styles.
                        <br>
                        </p>
                      <p>
                        <a href=http://127.0.0.1:8000/uploadform target="_blank" class="btn btn-primary my-2">Upload Picture</a>
                          <a href=http://127.0.0.1:8000 target="_blank" class="btn btn-primary my-2">Main Page</a>
                      </p>
            </div>
        </div>

 <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class=col-md-10">
            <div class="navigation">
                 <table class="table">
                      <tr><td>Architectural Styles</td></tr>

          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Ancient Roman architecture' }}">Ancient Roman architecture</a></td></tr>
          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Persian Islamic architecture' }}">Persian Islamic architecture</a></td></tr>
          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Gothic architecture' }}">Gothic architecture</a></td></tr>
          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Renaissance' }}">Renaissance</a></td></tr>
          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Baroque architecture' }}">Baroque architecture</a></td></tr>
                     <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Neoclassical architecture' }}">Neoclassical architecture </a> </td></tr>
          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Postmodern architecture' }}">Postmodern architecture</a></td></tr>
          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'Art Deco' }}">Art Deco</a></td></tr>
          <tr><td><a href="ArchitecturalStyle_View?parameter={{ 'others' }}">others</a></td></tr>
      </table>

            <a href="http://startbootstrap.com/template-overviews/grayscale/"></a></p>
        </div>
      </div>

    </div>
  </section>







     <!-- This part shows all pictures of one category. Each item (picture) has the functionality to download the picture or to open it in widescreen.  -->


 <div class="col-md-10">
         {% for category in categories %}

             {% for item in category.item_set.all %}
                <!-- <div class="col-md-4">-->
                     <div class="col-md-10" style="display:inline-block;margin:10px;width:calc(33% - 21px);">
                         <img class="card-img-top" src="{{ item.image.url }} " onclick="FensterOeffnen(this.href); return false" alt="{{ item.name }}">

                         <div class="card-body">
                             <p class="card-text">{{ item.name }}</p>
                             <p class="card-text">{{ item.description }}</p>
                             <div class="d-flex justify-content-between align-items-center">
                                 <!--<div class="btn-group">-->
                                     <button type="button" class="btn btn-sm btn-outline-secondary">
                                         <a href="{{ MEDIA_URL }}{{item.image.url}}" download="{{ item.name }}" >Download Image </a></button>

                                     <button type="button" class="btn btn-sm btn-outline-secondary">

                                     <a href="{{ MEDIA_URL }}{{item.image.url}}"  onclick="FensterOeffnen(this.href); return false" >Show picture</a></button>

                                 <!--</div>-->

                             </div>



                         </div>
                     </div>
                 <!--</div>-->




             {% endfor %}
         {% endfor %}


    {% for category in categories%}

        <!-- If no picture of this architectural style is existing, the following error will be shown.  -->


                     {% empty %}


                         <div class="alert alert-danger">
                             <strong>No results found. Be the first to upload pictures of this architectural style by pressing the upload picture!</strong>
                         </div>
                             <div class="alert alert-warning">


                     {% endfor %}

 </div>
  </section>


  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">

              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Fürst-Franz-Josef-Strasse, 9490 Vaduz</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">

              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">info@architecturalinspiration.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">

              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+41 (123) 456789</div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Architectural Inspiration 2019
    </div>
  </footer>



</body>
</html>