<!-- This file is the form which is necessary to login-->
{% extends 'start.html' %}

{% block content %}
  <h2 style="margin-left:20px"> Login to Architectural Inspiration</h2>
  {% if form.errors %}
    <p style="color: red; margin-left:20px">Your username and password didn't match. Please try again.</p>
  {% endif %}

    <form style="margin-left:20px" method="post">
    {% csrf_token %}
    <input type="hidden"  name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color:grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Login</button>
    <a href="{% url 'signup' %}">New to Architectural Inspiration? Signup</a>
  </form>
{% endblock %}