<!-- This file is the form which is necessary to sign up-->
{% extends 'start.html' %}

{% block content %}
  <h2 style="margin-left:20px">Sign up</h2>
  <form method="post" style="margin-left:20px">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}